* {
    white-space: nowrap;
    box-sizing: border-box;
    overflow: auto;
    color: blueviolet;
}

div {
    border-left: 1px solid;
    > div:first-child {
        border:none;
    }
}

#linksOutput {
    border: none;
    .loading {
        display: inline-block;
    }
    > div {
        border: 1px solid;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 10px;
        text-align: left;
        > a {
            color: dodgerblue;
            &:visited {
                color: cadetblue;
            }
        }
        > div {
            > div{
                margin-left: 15px;
                padding-top: 5px;
                > a{
                    margin-left: 15px;
                    margin-bottom: 15px;
                    color: #00adff;
                    &:visited {
                        color: darkcyan;
                    }
                }
            }
            &:last-child{
                > div {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

html {
    display: block;
    text-align: center;
}

body {
    display: inline-block;
}

